<section class="content">
    <h1>TESTE DESENVOLVEDOR 1</h1>
    <h2>MARS ROVERS</h2>
    <form ng-submit="submit()">
        <div class="box-field">
            <label>size</label>
            <input required type="text" ng-model="size" ng-disabled="disabledSize">
        </div>

        <div class="box-field">
            <label>position</label>
            <input required type="text" ng-model="position">
        </div>

        <div class="box-field">
            <label>commands</label>
            <input required type="text" ng-model="commands">
        </div>

        <button type="submit" >send form</button>
        or
        <button type="button" ng-click="teste()">default test</button>

        <p ng-show="descriptionTeste">Test Input:
            <br><br>
            5 5
<br>
            1 2 N
<br>
            LMLMLMLMM
<br><br>
            3 3 E
<br>
            MMRMMRMRRM
<br><br>
            Expected Output:</p>

        <p class="output" ng-bind="item" ng-repeat="item in viewResults"></p>
    </form>

</section>